[project]
authors = [
    {name = "Mischan Toosarani-Hausberger", email = "mischan@abovevacant.com"},
]
license = {text = "MIT"}
requires-python = "<3.14,>=3.12"
dependencies = [
    "typer==0.19.2",
    "sentry-sdk==2.49.0",
    "google-cloud-storage==3.5.0",
    "pydantic==2.12.3",
    "pandas==2.3.0",
    "deepdiff==8.6.1",
]
name = "symx"
version = "0.2.0"
description = "Symbol collection for apple platforms."
readme = "README.md"

[dependency-groups]
dev = [
    "pyright==1.1.408",
    "ruff==0.14.11",
    "pytest==9.0.2",
]

[tool.ruff]
target-version = "py312"
line-length = 120
