name: bucket runner
permissions: {}

on:
  workflow_call:
    inputs:
      job_name:
        required: true
        type: string
      bucket_step:
        required: true
        type: string
      bucket_run:
        required: true
        type: string
      upload_name:
        required: false
        type: string
      upload_path:
        required: false
        type: string
jobs:
  list-bucket-contents:
    name: ${{ inputs.job_name }}
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          workload_identity_provider: projects/868781662168/locations/global/workloadIdentityPools/prod-github/providers/github-oidc-pool
          service_account: symx-downloader@sac-prod-sa.iam.gserviceaccount.com

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1
        with:
          version: ">= 363.0.0"

      - name: ${{ inputs.bucket_step }}
        run: ${{ inputs.bucket_run }}

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: ${{ inputs.upload_name && inputs.upload_path }}
        with:
          name: ${{ inputs.upload_name }}
          path: ${{ inputs.upload_path }}
