name: symx on macOS
permissions:
  contents: read

on:
  workflow_call:
    inputs:
      job_name:
        required: true
        type: string
      symx_step:
        required: true
        type: string
      symx_run:
        required: true
        type: string
    secrets:
      SENTRY_DSN:
        required: true

jobs:
  symx-macos-job:
    name: ${{ inputs.job_name }}
    runs-on: ["ghcr.io/cirruslabs/macos-runner:sequoia", "runner_group_id:10"]
    permissions:
      id-token: "write"

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/868781662168/locations/global/workloadIdentityPools/prod-github/providers/github-oidc-pool
          service_account: symx-downloader@sac-prod-sa.iam.gserviceaccount.com

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          version: ">= 363.0.0"

      - name: Install dependencies
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "PATH=/Users/runner/.local/bin:$PATH" >> $GITHUB_ENV
          export PATH="/Users/runner/.local/bin:$PATH"
          uv --version
          uv sync
          brew install --formula blacktop/tap/ipsw
          brew install tree
          curl -L https://github.com/getsentry/symbolicator/releases/latest/download/symsorter-Darwin-universal > symsorter
          chmod +x symsorter
          file symsorter
          ./symsorter --version
          pwd
          ls -la

      - name: ${{ inputs.symx_step }}
        run: uv run python scripts/run_symx_gha.py
        env:
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SYMX_RUN: ${{ inputs.symx_run }}
