name: symx on Ubuntu
permissions:
  contents: read

on:
  workflow_call:
    inputs:
      job_name:
        required: true
        type: string
      symx_step:
        required: true
        type: string
      symx_run:
        required: true
        type: string
    secrets:
      SENTRY_DSN:
        required: true

jobs:
  symx-ubuntu-job:
    name: ${{ inputs.job_name }}
    runs-on: "ubuntu-24.04"
    permissions:
      id-token: "write"

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/868781662168/locations/global/workloadIdentityPools/prod-github/providers/github-oidc-pool
          service_account: symx-downloader@sac-prod-sa.iam.gserviceaccount.com

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          version: ">= 363.0.0"

      - name: Install dependencies
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "PATH=/Users/runner/.local/bin:$PATH" >> $GITHUB_ENV
          export PATH="/Users/runner/.local/bin:$PATH"
          uv --version
          uv sync
          sudo snap install ipsw

      - name: Install Apple Inc. Root
        run: |
          wget https://www.apple.com/appleca/AppleIncRootCertificate.cer
          openssl x509 -inform DER -in AppleIncRootCertificate.cer -out AppleIncRootCertificate.crt
          sudo cp AppleIncRootCertificate.crt /usr/local/share/ca-certificates
          sudo update-ca-certificates

      - name: Cleanup runner-image
        run: |
          sudo rm -rf /usr/local/lib/android || true
          sudo rm -rf /usr/share/swift || true
          sudo rm -rf /usr/share/dotnet || true
          sudo rm -rf /usr/lib/jvm || true
          sudo rm -rf /home/linuxbrew/.linuxbrew || true

      - name: ${{ inputs.symx_step }}
        run: uv run python -m symx ${{ env.SYMX_RUN }}
        env:
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SYMX_RUN: ${{ inputs.symx_run }}
