name: Mirror IPSW artifacts
permissions:
  contents: read
  id-token: write

on:
  workflow_dispatch:
  schedule:
    - cron: "15 */6 * * *"

concurrency: ipsw_mirror

jobs:
  call-reusable-workflow:
    uses: ./.github/workflows/symx-runner-ubuntu.yml
    with:
      job_name: IPSW mirror
      symx_step: IPSW mirror
      symx_run: ipsw mirror -t 315 -s ${{ vars.SYMX_STORE }}
    secrets:
      SENTRY_DSN: ${{ secrets.SENTRY_DSN }}