name: Migrate OTA storage
permissions:
  contents: read
  id-token: write

on:
  workflow_dispatch:

jobs:
  call-reusable-workflow:
    uses: ./.github/workflows/symx-runner-ubuntu.yml
    with:
      job_name: Migrate OTA storage
      symx_step: OTA migrate-storage
      symx_run: ota migrate-storage -s ${{ vars.SYMX_STORE }}
    secrets:
      SENTRY_DSN: ${{ secrets.SENTRY_DSN }}